<div class="container">

  <div class="header">
    <div class="heading"><span *ngIf="!isEditMode">Add</span><span *ngIf="isEditMode">Edit</span> Vehicle</div>
    <div (click)="CloseDialog()" class="close">×</div>

  </div>

  <div class="content">

    <div class="input-field">
      <span>Company Name</span>
      <input disabled value="{{company.name}}" class="input" type="text"
        placeholder="Enter Company Name...">
    </div>
    <div class="input-field">
      <span>Vehicle Name</span>
      <input class="input" [(ngModel)]="vehicle.name" type="text" placeholder="Enter vehicle Name...">
    </div>
    <div class="check-box">
      <span>Use on Multiple Vehicles</span>
      <input [(ngModel)]="vehicle.isMultiUsage" class="input" type="checkbox"
        placeholder="Enter Plate Number...">
    </div>
    <div *ngIf="!vehicle.isMultiUsage" class="input-field">
      <span>Plate Number</span>
      <input [(ngModel)]="vehicle.plateNumber" class="input" type="text"
        placeholder="Enter Plate Number...">
    </div>
  </div>

  <div class="footer">

    <div *ngIf="errorMessage.length" class="error-message">{{errorMessage}}</div>

    <div class="btn-container">
      <div class="btn">
        <button [disabled]="isLoading" (click)="CreateUpdateVehicle()" class="save">
          <span>Save</span>
        </button>
      </div>
      <div class="btn">
        <button (click)="CloseDialog()">Cancel</button>
      </div>
    </div>
  </div>


</div>
