<div class="container">

  <div class="header">
    <div class="heading"><span *ngIf="!isEditMode">Add</span><span *ngIf="isEditMode">Edit</span> Employee for {{company.name}}</div>
    <div (click)="CloseDialog()" class="close">×</div>
  </div>

  <!-- <app-loader *ngIf="isLoading" style="height: 100vh;width:100vw;"></app-loader> -->
  <div class="content">

    <div class="input-field">
      <span>Employee Name</span>
      <input class="input" [(ngModel)]="employee.name" type="text" placeholder="Enter employee Name...">
    </div>
    <div class="input-field">
      <span>Employee Email</span>
      <input [disabled]="isEditMode" [(ngModel)]="employee.email" class="input" type="text"
        placeholder="Enter your email...">
    </div>
    <div class="input-field">
      <span>Company Name</span>
      <input disabled value="{{company.name}}" class="input" type="text"
        placeholder="Enter Company Name...">
    </div>
  </div>

  <div class="footer">

    <div *ngIf="errorMessage.length" class="error-message">{{errorMessage}}</div>

    <div class="btn-container">
      <div class="btn">
        <button [disabled]="isLoading" (click)="CreateUpdateEmployee()" class="save">
          <span>Save</span>
        </button>
      </div>
      <div class="btn">
        <button (click)="CloseDialog()">Cancel</button>
      </div>
    </div>
  </div>


</div>
