<div class="container">
  <div class="header">
    <div class="back-icon">
      <i [routerLink]="['/home/company']" class="fa-solid fa-circle-arrow-left fa-2x"></i>
    </div>
    <button (click)="AddNewEmployee()">Add New Employee <i class="fa-solid fa-plus"></i></button>
  </div>

  <table *ngIf="!isLoading && Employees.length">
    <tr>
      <th>Sr.</th>
      <th>Name</th>
      <th>Email</th>
      <th>Is Verified</th>
      <th>Created On</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let item of Employees;let i=index">
      <td>{{i+1}}</td>
      <td>{{item.name}}</td>
      <td>{{item.email}}</td>
      <td>{{item.isVerified}}</td>
      <td>{{GetMomentDate(item.createdDate)}}</td>
      <td>
        <span><i (click)="EditEmployee(item,i)" class="fa-solid fa-pen-to-square"></i></span>
        <span><i (click)="OpenConfirmBoxForDelete(item,i)" class="fa-solid fa-trash"></i></span>
      </td>
    </tr>
  </table>

  <div class="empty-state" *ngIf="!isLoading && Employees.length===0">
    <h2>You have no employees to show!</h2>
    <span>Please click on the button above to add new employee.</span>
  </div>

  <div class="footer" *ngIf="Employees.length">
    <app-pagination [selectedIndex]="pageIndex" [totalCount]="totalCount" (indexOnChange)="onIndexChange($event)"></app-pagination>
  </div>
</div>
