<div class="container">
  <div class="header">
    <div class="back-icon">
      <i [routerLink]="['/home/company']" class="fa-solid fa-circle-arrow-left fa-2x"></i>
    </div>
    <button (click)="AddNewVehicle()">Add New Vehicle <i class="fa-solid fa-plus"></i></button>
  </div>

  <table>
    <tr>
      <th>Sr.</th>
      <th>Name</th>
      <th>Plate Number</th>
      <th>QR Codes</th>
      <th>Created On</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let item of Vehicles;let i=index">
      <td>{{i+1}}</td>
      <td (click)="openQrCodes(item, i)">{{item.name}}</td>
      <td>{{item.plateNumber}}</td>
      <td>{{item.qrCodes.length}}</td>
      <td>{{GetMomentDate(item.createdDate)}}</td>
      <td>
        <span><i (click)="EditVehicle(item,i)" class="fa-solid fa-pen-to-square"></i></span>
        <span><i class="fa-solid fa-trash"></i></span>
      </td>
    </tr>
  </table>
</div>
