.container {
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  .header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    .add-new-btn {
      padding: 5px 5px;
      border-radius: 2px;
      background-color: #2e7534;
      color: white;
      border-color: white;
      border-style: solid;
    }
    .search-container{
      padding: 5px 5px;
      border-radius: 2px;
      .search-bar {
        margin:auto;
        max-width:300px;
      }
      .search-bar input[type=text] {
        padding: 5px;
        font-size: 15px;
        border: 1px solid grey;
        float: left;
        width: 80%;
        background: #ffffff;
      }

      .search-bar button {
        float: left;
        width: 20%;
        padding: 5px;
        background: #3b56c4;
        color: white;
        font-size: 15px;
        border: 1px solid grey;
        border-left: none;
        cursor: pointer;
      }

      .search-bar button:hover {
        background: #273981;
      }

      .search-bar::after {
        content: "";
        clear: both;
        display: table;
      }
    }
  }

  table {
    width: 90%;
    height: auto;
    border-collapse: collapse;
    tr{
      cursor: pointer;
      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        i {
          padding-left: 5px;
        }
      }
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
  }

  .empty-state{
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer {
    padding-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
