<div class="container">
  <div class="header">
    <button (click)="AddNewOrganization()">Add New Organization <i class="fa-solid fa-plus"></i></button>
  </div>

  <table>
    <tr>
      <th>Sr.</th>
      <th>Name</th>
      <th>Email</th>
      <th>Employee(s)</th>
      <th>Vehicle(s)</th>
      <th>Created On</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let item of Companies;let i=index" (click)="OpenCompanyDetails(item.guid)">
      <td>{{i+1}}</td>
      <td>{{item.name}}</td>
      <td>{{item.email}}</td>
      <td>{{item.employeesCount}}</td>
      <td>{{item.trucksCount}}</td>
      <td>{{GetMomentDate(item.createdDate)}}</td>
      <td>
        <span><i class="fa-solid fa-pen-to-square"></i></span>
        <span><i class="fa-solid fa-trash"></i></span>
      </td>
    </tr>
  </table>
</div>
