<div class="container">
  <div class="header">
    <div class="search-container">
      <div class="search-bar">
        <input type="text" [(ngModel)]="searchText" placeholder="Search..">
        <button (click)="onSearched()" type="submit"><i class="fa fa-search"></i></button>
      </div>
    </div>
    <button class="add-new-btn" (click)="AddNewOrganization()">Add New Company <i class="fa-solid fa-plus"></i></button>
  </div>

  <table *ngIf="!isloading && Companies.length">
    <tr>
      <th>Sr.</th>
      <th>Company Name</th>
      <th>Email</th>
      <th>Employee(s)</th>
      <th>Vehicle(s)</th>
      <th>Created On</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let item of Companies;let i=index">
      <td>{{i+1}}</td>
      <td (click)="OpenCompanyDetails(item.guid)">{{item.name}}</td>
      <td>{{item.email}}</td>
      <td>{{item.employeesCount}}</td>
      <td>{{item.trucksCount}}</td>
      <td>{{GetMomentDate(item.createdDate)}}</td>
      <td>
        <span><i (click)="EditOrganization(item,i)" class="fa-solid fa-pen-to-square"></i></span>
        <span><i (click)="OpenConfirmBoxForDelete(item,i)" class="fa-solid fa-trash"></i></span>
      </td>
    </tr>
  </table>

  <div class="empty-state" *ngIf="!isloading && Companies.length===0">
    <h2>You have no companies to show!</h2>
    <span>Please click on the button above to add new company.</span>
  </div>
  <div class="footer" *ngIf="Companies.length">
    <app-pagination [selectedIndex]="pageIndex" [totalCount]="totalCount" (indexOnChange)="onIndexChange($event)"></app-pagination>
  </div>
</div>
